<template>
  <div>
    <div class="flex flex-col bg-green-400 py-8 items-center justify-center">
      <div class="text-white text-2xl">condit</div>
      <div class="text-white text-2xl">a place to share you knowledge</div>
    </div>
    <div>
      <div v-if="loading">
        <div class="text-center mt-72">
          <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <div v-else class="flex">
        <div class="flex-1">
          <div v-for="item in posts" :key="item.id">
            {{ item.title }}
          </div>
        </div>
        <div>
          <div class="card w-96 mr-10 mt-2 bg-base-100 shadow-xl">
            <div class="card-body">
              <div class="card-title">poplar tags</div>
              <div class="card-title flex">
                <div class="bg-gray-300 w-28 text-center rounded-lg">
                  impletions
                </div>
                <div class="bg-gray-300 w-28 text-center rounded-lg">
                  welcome
                </div>
              </div>
              <div class="card-title flex">
                <div class="bg-gray-300 w-40 text-center rounded-lg">
                  introduction
                </div>
                <div class="bg-gray-300 w-40 text-center rounded-lg">
                  codebaseshow
                </div>
              </div>
              <div class="card-title flex">
                <div class="bg-gray-300 w-28 text-center rounded-lg">ipsum</div>
                <div
                  class="
                    bg-gray-300
                    w-10
                    flex
                    items-center
                    justify-center
                    rounded-full
                    h-10
                  "
                >
                  et
                </div>
                <div
                  class="
                    bg-gray-300
                    w-16
                    flex
                    items-center
                    justify-center
                    rounded-full
                  "
                >
                  qui
                </div>
                <div
                  class="
                    bg-gray-300
                    w-24
                    flex
                    items-center
                    justify-center
                    rounded-full
                  "
                >
                  quia
                </div>
                <div
                  class="
                    bg-gray-300
                    w-48
                    flex
                    items-center
                    justify-center
                    rounded-full
                  "
                >
                  cupiditate
                </div>
              </div>
              <div
                class="
                  card-title
                  bg-gray-300
                  w-32
                  flex
                  items-center
                  rounded-xl
                  justify-center
                "
              >
                deserunt
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useStore } from "vuex";
import { computed, ref } from "vue";
const store = useStore();
const loading = ref(false);
const posts = computed(() => store.getters["posts/getPosts"]);
async function getPosts() {
  loading.value = true;
  await store.dispatch("posts/getPost");
  loading.value = false;
}
getPosts();
</script>
<style scoped>
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #6916a0;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #6916a0 transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>