<template>
  <div>
    <div class="flex flex-col items-center mt-5 justify-center">
      <div class="text-2xl">Sign in</div>
      <router-link class="text-green-400" to="/signup"
        >need a account?</router-link
      >
      <input
        type="text"
        placeholder="Email"
        class="input mt-3 w-96 border border-gray-300"
      />
      <input
        type="text"
        placeholder="password"
        class="input border mt-3 w-96 border-gray-300"
      />
      <div class="flex ml-72 mt-5">
        <button class="btn border-none bg-green-400">sign in</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>