<template>
  <div
    class="
      bg-base-100
      flex
      justify-between
      2xl:px-10
      xl:px-10
      lg:px-10
      md:px-2
      px-2
      mt-5
    "
  >
    <div>
      <a class="btn btn-ghost normal-case text-green-600 text-xl">conduit</a>
    </div>

    <ul class="flex space-x-5">
      <li>
        <router-link class="text-gray-200 hover:text-gray-600" to="/"
          >home</router-link
        >
      </li>

      <li>
        <router-link class="text-gray-200 hover:text-gray-600" to="/login"
          >Sign in</router-link
        >
      </li>
      <li>
        <router-link class="text-gray-200 hover:text-gray-600" to="/signup"
          >Sign up</router-link
        >
      </li>
    </ul>
  </div>
  <router-view />
  <div class="bg-gray-700 mt-44 py-10 text-white text-2xl">
    <div class="flex items-center justify-center">
      <img src="github.svg" alt="" />
      <div class="hover:underline hover:cursor-pointer ml-3">
        Fork on github
      </div>
    </div>
  </div>
</template>

<style>
</style>
